.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal__container {
  position: relative;
  top: 10rem;
  background-color: #ffffff;
  padding: 1rem;
  min-width: 280px;
  max-width: 500px;
  width: 98%;
  margin: 0 auto;
  height: auto;
  border-radius: 10px;
}
.Modal__container .modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 10px 0;
}

.Modal__close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0;
  background-color: #F5F5F5;
  padding: 0.5rem 1rem;
}